.fieldArea {
	width:80%;
}
.icon {
	padding-right: 10px;
}
.main-form {
	margin:auto;
	padding-bottom:50px;
	padding-top:20px;
	width:50%;
}
.pad-under {
	padding-bottom:20px;
}
.wide-input {
	width:80%;
}